<header class="header flex relative">
    <div class="nav-launcher">
        <a href="#" class="menu"></a>
    </div>
    <nav class="nav">
        <li class="list-item">Home</li>
        <li class="list-item">About</li>
        <li class="list-item">Contact</li>
    </nav>
    <div class="logo">

    </div>
    <div class="social">
        <a href="https://www.instagram.com/geraldxcannon/?hl=en" class="ig"></a>
    </div>
</header>