<header class="header ">
    <div class="header-inner flex relative">
        <div class="nav-launcher">
            <a href="#" class="menu-icon"></a>
        </div>
        <nav class="nav flex">
            {{> navlist }}
        </nav>
        <div class="logo">
            <a href="/"></a>
        </div>
        <div class="social">
            <a href="https://www.instagram.com/geraldxcannon/?hl=en" class="ig-icon"></a>
        </div>
    </div>
</header>
