<div class="nav-wrapper relative">
    <a class="close-icon"></a>
    <ul class="nav-list">
        {{#each navLinks}}
            <li class="list-item">
                <a href="/{{this.route}}">
                    <span>{{this.name}}</span>
                </a>
            </li>
        {{/each}}

    </ul>
    <div class="logo">
        <a href="/"></a>
    </div>
</div>
<div class="nav-art"></div>