.header {
  height: $headermobilepadding;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 0 $mainmobilepadding;
  position: fixed;
  z-index: 1;

  .header-inner {
    @include page-width-centered();
    @include justify-content(space-between);
    @include align-items(center);
    height: 100%;
  }

  .nav {
    position: fixed;
    z-index: 1000000;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    @include transition(all .4s ease-in-out);

    &._active {
      left: 0;
    }

    .nav-wrapper {
      width: 50%;
      background-color: #ffffff;

      .close-icon {
        @include absolute-centered-horizontal();
        top: $headermobilepadding;
      }
    }

    .nav-list {
      @include absolute-centered-horizontal();
      top: 180px;
    }

    .list-item {
      margin-top: 15px;

      a {
        font-size: 26px;
      }
    }

    .nav-art {
      background-image: url(/images/icons/static.gif);
      background-size: 70%;
      width: 50%;
    }

  }

  .logo {
    @include absolute-centered();
    background-image: url(/images/icons/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 100px;
    margin-top: 15px;

    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .social {

  }

  @include tabtop {
    .logo {
      height: 100px;
      width: 160px;
    }
    .nav {
      width: 60%;
    }
  }
}