.invert_scroll {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: $mainmobilepadding;
  top: $headermobilepadding;
  width: 6000px;
  @include flexbox();
  @include flex-direction(column);

  .scroll_row {
    height: 40%;
    margin: 10px 0;
  }

  .scroll_image {
    height: 100%;
    margin: 0 10px;

  }
}