<div class="content contact scroll-over">
    <!--    <div class="contact-form-wrapper">-->
    <!--        <form action="" class="form" id="contact-us-form">-->
    <!--            <div class="form-inner">-->
    <!--                <div class="form-row">-->
    <!--                    <label for="request-type">request</label>-->
    <!--                    <select name="request-type" id="request-type">-->
    <!--                        <option value="general inquiry">general inquiry</option>-->
    <!--                        <option value="gallery inquiry">gallery inquiry</option>-->
    <!--                        <option value="purchase inquiry">purchase inquiry</option>-->
    <!--                    </select>-->
    <!--                </div>-->
    <!--                <div class="form-row">-->
    <!--                    <label for="name">name</label>-->
    <!--                    <input type="text" id="name"/>-->
    <!--                </div>-->
    <!--                <div class="form-row">-->
    <!--                    <label for="email">e-mail</label>-->
    <!--                    <input type="text" id="email"/>-->
    <!--                </div>-->
    <!--                <div class="form-row">-->
    <!--                    <label for="message">message</label>-->
    <!--                    <textarea type="message" name="message" id="message"></textarea>-->
    <!--                </div>-->
    <!--                <div class="form-row">-->
    <!--                    <input type="submit" class="submit">-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </form>-->
    <!--    </div>-->

    <h1><a href="mailto:geraldxcannon@gmail.com">geraldxcannon@gmail.com</a></h1>
</div>