<div class="content home">
    <div class="flex">
        <div class="left-side panel">
            <img class="home-image" src="/images/art/{{homeImage}}">
        </div>
        <div class="right-side panel">
            <div class="about">
                <p>born . 1986</p>
                <p>lives and works in new york</p>
                <div class="email">
                    <p>email</p>
                    <p><a href="mailto:geraldxcannon@gmail.com">geraldxcannon@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>