<div class="content works">

    <div class="invert_scroll pad-top">
        <div class="scroll_row top">
            {{#each artImages.top}}
                <img class="scroll_image" src="/images/art/{{this}}">
            {{/each}}
        </div>
        <div class="scroll_row middle">
            {{#each artImages.middle}}
                <img class="scroll_image" src="/images/art/{{this}}">
            {{/each}}
        </div>
    </div>
</div>